BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Never

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlignAfterOpenBracket: Align
AlignOperands: true

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
DerivePointerAlignment: false

SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

SortIncludes: false
IncludeBlocks: Preserve

ColumnLimit: 100

CommentPragmas: '^ IWYU pragma:'

BraceWrapping:
    AfterEnum: true
    AfterStruct: true
    AfterUnion: true
    BeforeElse: true
    BeforeCatch: true
    AfterExternBlock: true
